extends layout
block meta
   meta(property="og:image" content= meta.og_image)
   meta(property="og:title" content= meta.og_title)
   meta(property="og:url" content= meta.og_url)
   meta(property="og:site_name" content= meta.og_site_name)
   meta(property="og:type" content= meta.og_type)
   meta(property="og:description" content= meta.og_description)
   meta(property="fb:app_id" content= meta.fb_app_id)
block content
   input(type="hidden" id="main_data")
   div(class='container layout')
     div(class="row")
       div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12  top")
         div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 logo")
           img(src="img/logo.png")
         div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 texttop")
           p “Your future look in secs”
       div(class="col-xs-12 col-sm-12 col-md-12  col-lg-12  headertop")
          div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2")
            div(class="avatarImage")
              img(src="img/avata.jpg")
          div(class="col-xs-10 col-sm-10 col-md-10 col-lg-10 question-top")
            p(class='question-title')
            p(class="question-detail")
       div(class="col-xs-12 col-sm-12 col-md-12  col-lg-12  contentlp")
         div(class="hand")
           div(class="bg_text_top")
           div(class="animation")  
           div(class="bg_text_hand")
         div(class="col-xs-5 col-sm-5 col-md-5 bannercontent1")
         div(class="col-xs-5 col-sm-5 col-md-5 bannercontent3")
       div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs hidden-sm likepage")
         div(class="titlepage")
         div(class="col-sm-12 col-md-12 contentlikepage")
           div(class="col-sm-6 col-md-6 like")
             div(class="Somepeople Somepeople_gif like_gif")
             label(class="search-input like_count")
             img(src='img/people_icon.png' class='people')
           div(class="col-sm-6 col-md-6 nolike")
             div(class="Somepeople Somepeople_gif unlike_gif")
             label(class="search-input dislike_count")
             img(src='img/people_red.png' class='people')
       div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-lg hidden-md likepagemobile")
         div(class="titlepage")
         div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contentlikepage")
           div(class="col-xs-6 col-sm-6 col-md-6 col-lg-6 like")
             div(class="Somepeople_gif like_gif")
             label(class="search-input like_count")
             div(class="people")
           div(class="col-xs-6 col-sm-6 col-md-6 col-lg-6 nolike")
             div(class="Somepeople_gif unlike_gif")
             label(class="search-input dislike_count")
             div(class="people")
       div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs hidden-sm sharenow")
         div(class="col-sm-5 col-md-5 groupshare")
           p share
              img(class="social_btn" id="fb-share" src="img/fb_icon.png")
              span now
          //-  ul
          //-    li
          //-     img(class="social_btn" id="fb-share" src="img/fb_icon.png")
            //-  li
            //-   img(class="social_btn" onclick='' src="img/skype_icon.png")
            //-  li
            //-   img(class="social_btn" onclick='' src="img/twitter_icon.png")
            //-  li
            //-   img(class="social_btn" onclick='' src="img/youtube_icon.png")
         div(class="col-sm-5 col-sm-offset-4 col-md-5 col-md-offset-4 appstore")
          a(target="_blank" href="https://itunes.apple.com/vn/app/id1135814415")
            img(src="img/appstore.png")
       div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-lg hidden-md sharenowmobile")
         div(class="col-xs-7 col-sm-7 groupshare")
           ul
             li
              img(class="social_btn" id="fb-share-mobile" src="img/fb_icon.png")
            //-  li
            //-   img(class="social_btn" onclick='' src="img/skype_icon.png")
            //-  li
            //-   img(class="social_btn" onclick='' src="img/twitter_icon.png")
            //-  li
            //-   img(class="social_btn" onclick='' src="img/youtube_icon.png")
         div(class="col-xs-5 col-sm-5 appstore")
           a(target="_blank" href="https://itunes.apple.com/vn/app/id1135814415")
            img(src="img/appstore.png")
       div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs hidden-sm pagecomment")
         div(class="itemcomment")
           ul
             li
                #comments
                  div(class="fb-comments triangle-obtuse left" data-width="100%" data-numposts="5")
       div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-lg hidden-md pagecommentmobile")
         div(class="itemcomment")
           ul
             li
                #comments
                  div(class="fb-comments triangle-obtuse left" data-width="100%" data-numposts="5")
      div(class="col-md-12 col-lg-12 hidden-xs hidden-sm visible-md visible-lg poll")
        p Suggested Poll
          div(id="owl-demo")
      div(class="col-xs-12 col-sm-12 no-padding visible-xs visible-sm hidden-md hidden-lg pollmobile")
        p Suggested Poll
          div(id="owl-demo-mobile")
     #fb-root
     script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
     script(type="text/javascript" src="owl-carousel/owl.carousel.js")
     script(src="javascripts/app_function.js")