doctype html
html
  head
    title Facebook App
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    //- <!-- Basic stylesheet -->
    <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
    //- <!-- Default Theme -->
    //- <link rel="stylesheet" href="owl-carousel/owl.theme.css">
    link(rel='stylesheet', href='/stylesheets/layout.css')
    //- link(rel='stylesheet', href='https://demo-index-weichueng.c9users.io/css/layout.css')
    block meta
  body
    block content
    .loadgif
      img(src='gif/loading-BB-1.gif' style="width:100px; height:100px;")