.Somepeople, .position {
    background-image: url(../img/Sprite.png);
    background-repeat: no-repeat;
}
body {
    background-color: #fff;
}
.no-padding
{
    padding: 0px !important;
}
.layout {
    margin: auto;
    margin-bottom: 20px;
}
.layout .row {
    position: relative;
    padding: 0px;
    margin: 0px;
}
.layout .row .top {
    background:url('../img/bg-header.png');
}
.layout .row .top .logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}
.layout .row .top .texttop p {
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.layout .row div {
    padding-right: 0px;
    padding-left: 0px;
}
.layout .row .headertop {
    background-color: #212733;
}
/*.layout .row .headertop ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.layout .row .headertop ul li {
    background: none !important;
    display: block;
    clear: both;
    overflow: hidden;
    list-style: none;
    word-break: break-all;
}
.layout .row .headertop ul li img {
    padding: 0px;
    position: relative;
    overflow: hidden;
    display: block;
}
.layout .row .headertop ul li a {
    color: #3fb3f9;
    float: left;
    font-size: 15pt;
    margin-top: -14px;
    padding-top: 25px;
    position: relative;
    text-decoration: none;
    width: 85%}
.layout .row .headertop ul li .avatarImage {
    padding: 3px;
    background: #212733;
    float: left;
    margin: 10px;
    position: relative;
    overflow: hidden;
}
.layout .row .headertop ul li .avatarRound {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.layout .row .headertop ul li span {
    color: #fff;
    display: block;
    float: left;
    font-size: 19pt;
    line-height: 1.4;
    position: relative;
}*/
.avatarImage{
    margin:10px;
    width:80px;
    height:80px;
}
.question-top
{
    margin-top:20px;
}
.question-title
{
    color: #3FB3F9;
    font-size:20px;
    margin:0px !important;
}
.question-detail
{
    color: #FFFFFF;
    font-size:30px;
    margin:0px !important;
}
.poll, .pollmobile
{
    background-color:#E6E6E6;
}
.layout .row .contentlp {
    float: left;
    height: 575px;
    position: relative;
}
.layout .row .contentlp .hand {
    background-image: url("../img/hand.png");
    background-repeat: no-repeat;
    height: 100%;
    margin-left: 32%;
    margin-top: 12px;
    position: absolute;
    width: 45%;
    z-index: 8;
}
.layout .row .contentlp .hand .animation {
    float: left;
    height: 220px;
    left: -28.7%;
    overflow: hidden;
    position: relative;
    top: 150px;
    width: 220px;
}
.layout .row .contentlp .hand .animation img {
    width: 220px;
    height: 336px;
    overflow: hidden;
}
.layout .row .contentlp .hand .animation .img01, .layout .row .contentlp .hand .animation .img02 {
    width: 220px;
    height: 336px;
    overflow: hidden;
}
.layout .row .contentlp .hand .bg_text_hand {
    background-color: #00344a;
    color: #29abe2;
    float: left;
    font-size: 17pt;
    height: 77px;
    left: 78px;
    padding: 23px;
    position: relative;
    text-align: center;
    top: 150px;
    width: 220px;
}
.layout .row .contentlp .hand .bg_text_top {
    background-color: #00344a;
    float: left;
    font-size: 17pt;
    height: 90px;
    left: 78px;
    padding: 23px;
    position: relative;
    text-align: center;
    top: 60px;
    width: 220px;
}
.layout .row .contentlp .logobutterflyhub {
    position: absolute;
    z-index: 8;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 85px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
}
.layout .row .contentlp .effect {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 575PX;
    background-image: url(../img/bgradiang.png);
    background-repeat: repeat-x;
}
.layout .row .contentlp .bannercontent1, .layout .row .contentlp .bannercontent3 {
    position: relative;
    float: left;
}
.layout .row .contentlp .bannercontent1 img, .layout .row .contentlp .bannercontent3 img {
    margin-top: 100px;
    width: 100%}
.layout .row .contentlp .bannercontent3 {
    float: right;
}
.layout .row .likepage {
    background-color: #FFFFFF;
    position: relative;
    float: left;
    display: block;
}
.layout .row .likepage .titlepage {
    color: #000000;
    font-size: 22pt;
    height: 45px;
    text-align: center;
    width: 100%}
.layout .row .likepage .contentlikepage {
    background-color: #F2F2F2;
    float: left;
    position: relative;
}
.layout .row .likepage .contentlikepage .like {
    float: left;
    margin-bottom: 15px;
    position: relative;
}
.layout .row .likepage .contentlikepage .like .Somepeople {
    background-position: -112px -15px;
    height: 94px;
    right: 37%;
    margin-top: 18px;
    position: relative;
    width: 94px;
    z-index: 9;
    cursor: pointer;
    float: right;
}
.layout .row .likepage .contentlikepage .like .Somepeople_gif {
    height: 94px;
    margin-top: 18px;
    position: relative;
    width: 94px;
    cursor: pointer;
    float: right;
}
.layout .row .likepage .contentlikepage .like .Somepeople_gif img {
    position: absolute;
    top: -137px;
    left: -123px;
    z-index: 999;
}
/*.layout .row .likepage .contentlikepage .like label {*/
/*    border: medium none;*/
/*    border-radius: 20px;*/
/*    height: 30px;*/
/*    left: 250px;*/
/*    position: absolute;*/
/*    top: 50px;*/
/*    width: 150px;*/
/*    z-index: 1;*/
/*}*/
.layout .row .likepage .contentlikepage .like label {
    color:#000000;
    border: medium none;
    border-radius: 15px;
    height: 30px;
    right: 0%;
    float: right;
    position: relative;
    top: 50px;
    width: 108px;
    z-index: 1;
    padding-left: 50px;
    font-size:19px;
    background-color:#ffffff;
}
.layout .row .likepage .contentlikepage .like .people {
    position: relative;
    top: 55px;
    width: 19px;
    z-index: 6;
    float: right;
    left: 100px;
}
.layout .row .likepage .contentlikepage .nolike {
    float: left;
    height: 125px;
    position: relative;
}
.layout .row .likepage .contentlikepage .nolike .Somepeople {
    background-position: -112px -123px;
    height: 94px;
    left: 8%;
    margin-top: 18px;
    position: relative;
    width: 94px;
    z-index: 9;
    float: left;
    cursor: pointer;
}
.layout .row .likepage .contentlikepage .nolike .Somepeople_gif {
    background-position: -112px -123px;
    height: 94px;
    left: 8%;
    margin-top: 18px;
    position: relative;
    width: 94px;
    float: left;
    cursor: pointer;
}
.layout .row .likepage .contentlikepage .nolike .Somepeople_gif img {
    position: absolute;
    top: -186px;
    left: -124px;
    z-index: 999;
}
/*.layout .row .likepage .contentlikepage .nolike label {*/
/*    border: medium none;*/
/*    border-radius: 20px;*/
/*    height: 30px;*/
/*    left: 50px;*/
/*    position: absolute;*/
/*    top: 50px;*/
/*    width: 150px;*/
/*    z-index: 1;*/
/*}*/
.layout .row .likepage .contentlikepage .nolike label {
    color:#000000;
    border: medium none;
    border-radius: 15px;
    height: 30px;
    left: 0%;
    position: relative;
    top: 50px;
    float: left;
    width: 108px;
    z-index: 1;
    padding-left: 50px;
    font-size:19px;
    background-color: #ffffff;
}
.layout .row .likepage .contentlikepage .nolike .people {
    position: relative;
    top: 55px;
    width: 19px;
    float: left;
    z-index: 6;
    right: 27px;
}
.layout .row .sharenow {
    position: relative;
}
.layout .row .sharenow .groupshare {
    background-color: #fff;
    height: 50px;
    margin-top: 15px;
    float: left;
}
.layout .row .sharenow .groupshare p {
    float: left;
    font-size: 13pt;
    padding: 13px 0 0 13px;
    position: relative;
    width: 40%}
.layout .row .sharenow .groupshare ul {
    padding: 0px;
    float: left;
    position: relative;
    width: 60%}
.layout .row .sharenow .groupshare ul li {
    list-style: none;
    position: relative;
    float: left;
    margin-right: 5px;
    margin-top:5px;
}
.social_btn {
    height: 40px;
    top: 10px;
    width: 40px;
    cursor: pointer;
    margin-left:10px;
    margin-right:10px;
}
.layout .row .sharenow .appstore a img{
    width: 100%;
}
.layout .row .sharenow .appstore {
    position: relative;
    float: right;
    width: 170px;
    height: 56px;
    margin-top: 15px;
    background-position: -117px -502px;
    cursor: pointer;
}
.layout .row .pagecomment {
    position: relative;
    margin-top: 15px;
    margin-bottom: 30px;
}
.layout .row .pagecomment p {
    text-align: left;
}
.layout .row .pagecomment .itemcomment {
    position: relative;
    background-color: #E6E6E6;
    float: left;
    width: 100%}
.layout .row .pagecomment .itemcomment ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.layout .row .pagecomment .itemcomment ul li {
    background: none !important;
    display: block;
    clear: both;
    overflow: hidden;
    list-style: none;
    word-break: break-all;
    position: relative;
    float: left;
    width: 100%}
.layout .row .pagecomment .itemcomment ul li img {
    padding: 0px;
    position: relative;
    overflow: hidden;
    display: block;
}
.layout .row .pagecomment .itemcomment ul li .commentImage {
    padding: 3px;
    float: left;
    margin: 10px 0px 10px 10px;
    position: relative;
    overflow: hidden;
}
.layout .row .pagecomment .itemcomment ul li .commentRound {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.layout .row .pagecomment .itemcomment ul li .commentnote {
    background-color: #fff;
    float: right;
    margin: 10px;
    min-height: 96px;
    position: relative;
    width: 645px;
}
.layout .row .pagecomment .itemcomment ul li p {
    margin: 1em 0;
}
.layout .row .pagecomment .itemcomment ul li textarea {
    margin: 1em 0;
    position: relative;
}
.layout .row .pagecomment .itemcomment ul li .position {
    position: relative;
    width: 31px;
    height: 24px;
    background-position: -118px -579px;
    z-index: 9;
    left: 0px;
    top: 8px;
    float: left;
}
.layout .row .pagecomment .itemcomment ul li .triangle-obtuse.left:before {
    top: 0px;
    bottom: auto;
    border: 0;
    border-left-width: 50px;
    border-top-width: 20px;
    border-style: solid;
    border-color: #fff transparent;
}
.layout .row .pagecomment .itemcomment ul li .triangle-obtuse {
    position: relative;
    padding: 15px;
    color: #000;
    background: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: -webkit-gradient(linear,  left top,  left bottom,  from(#f04349),  to(#fff));
    background: -moz-linear-gradient(top,  #f04349,  #fff);
    background: -o-linear-gradient(top,  #f04349,  #fff);
}
.layout .row .pagecomment .itemcomment ul li .triangle-obtuse.top {
    background: -webkit-gradient(linear,  left top,  left bottom,  from(#fff),  to(#f04349));
    background: -moz-linear-gradient(top,  #fff,  #f04349);
    background: -o-linear-gradient(top,  #fff,  #f04349);
}
.layout .row .pagecomment .itemcomment ul li .triangle-obtuse.left {
    background: #fff none repeat scroll 0 0;
    float: left;
    margin: 10px;
    padding: 10px;
    position: relative;
    right: -3px;
    width: 97%;
}
.layout .row .pagecomment .itemcomment ul li .triangle-obtuse:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    left: 60px;
    width: 0;
    height: 0;
    border: 0;
    border-right-width: 30px;
    border-bottom-width: 20px;
    border-style: solid;
    border-color: transparent #fff;
}
.layout .row .poll p {
    font-size: 15pt;
}
.layout .row .poll .sliderfooter {
    position: relative;
    background-color: #c1c9cc;
    border-radius: 5px;
}
.layout .row .poll .sliderfooter .slider {
    width: 90%;
    min-width: 604px;
    position: relative;
    overflow: hidden !important;
    text-align: center;
    margin-left: 46px;
}
.layout .row .poll .sliderfooter .slider {
    height: 285px;
}
.layout .row .poll .sliderfooter .slider .bd li {
    width: 795px;
    overflow: hidden;
    list-style: none;
}
.layout .row .poll .sliderfooter .slider .bd li .contentlp {
    background-color: #fff;
    float: left;
    height: 240px;
    margin-left: 20px;
    margin-top: 30px;
    position: relative;
}
.layout .row .poll .sliderfooter .slider .bd li .contentlp .hand {
    background-image: url("../img/hand.slider.png");
    background-repeat: no-repeat;
    height: 225px;
    margin-left: 30%;
    margin-top: -10px;
    position: absolute;
    width: 152px;
    z-index: 8;
}
.layout .row .poll .sliderfooter .slider .bd li .contentlp .logobutterflyhub {
    top: 185px;
    height: 36px;
    position: absolute;
    right: 12px;
    width: 35px;
    z-index: 8;
    background-image: url("../img/logo.slider.png");
    background-repeat: no-repeat;
}
.layout .row .poll .sliderfooter .slider .bd li .contentlp .effect {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 225px;
    background-image: url(../img/bgradiang.slider.png);
    background-repeat: repeat-x;
}
.layout .row .poll .sliderfooter .slider .bd li .contentlp .footertext p {
    font-size: 14px;
    margin: 20px 0;
    padding: 5px;
    text-align: left;
    background-color:#EA5C3B;
    color:#FFFFFF;
}
.layout .row .poll .sliderfooter .slider .bd li .contentlp .bannercontent1, .layout .row .poll .sliderfooter .slider .bd li .contentlp .bannercontent2, .layout .row .poll .sliderfooter .slider .bd li .contentlp .bannercontent3 {
    position: relative;
    float: left;
    top: 0px;
    height:190px;
}
.layout .row .poll .sliderfooter .slider .bd li .contentlp .bannercontent1 img, .layout .row .poll .sliderfooter .slider .bd li .contentlp .bannercontent2 img, .layout .row .poll .sliderfooter .slider .bd li .contentlp .bannercontent3 img {
    margin-top: 15px;
}
.layout .row .poll .sliderfooter .slider .bd li .contentlp .bannercontent1 .nameleft {
    position: absolute;
    z-index: 7;
    width: 90px;
    top: 7px;
    left: 0px;
}
.layout .row .poll .sliderfooter .slider .bd li .contentlp .bannercontent1 .nameleft .bgnotriangle {
    background-color: #e6e6e6;
    color: #000;
    float: left;
    font-size: 13pt;
    height: 30px;
    padding-left: 8px;
    padding-top: 2px;
    position: relative;
    width: 70px;
}
.layout .row .poll .sliderfooter .slider .bd li .contentlp .bannercontent1 .nameleft .bgtriangle {
    height: 0px;
    width: 0px;
    border-left: 15px solid #E6E6E6;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    float: left;
}
.layout .row .poll .sliderfooter .slider .bd li .contentlp .bannercontent2 {
    width: 95px;
    height: 435px;
}
.layout .row .poll .sliderfooter .slider .bd li .contentlp .bannercontent3 .nameright {
    position: absolute;
    z-index: 7;
    top: 7px;
    right: 0px;
    width: 85px;
}
.layout .row .poll .sliderfooter .slider .bd li .contentlp .bannercontent3 .nameright .bgnotriangle {
    background-color: #e6e6e6;
    color: #000;
    float: left;
    font-size: 13pt;
    height: 30px;
    padding-left: 8px;
    padding-top: 2px;
    position: relative;
    width: 70px;
}
.layout .row .poll .sliderfooter .slider .bd li .contentlp .bannercontent3 .nameright .bgtriangle {
    float: left;
    height: 0px;
    width: 0px;
    border-right: 15px solid #E6E6E6;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.layout .row .poll .sliderfooter .slider .bd {
    width: 100%;
    position: absolute;
}
.layout .row .poll .sliderfooter .slider .bd li {
    width: 95%;
    overflow: hidden;
    list-style: none;
}
.layout .row .poll .sliderfooter .slider .tempWrap {
    overflow: visible !important;
    background-color: #c1c9cc;
}
.layout .row .poll .sliderfooter .slider .hd {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    height: 8px;
    bottom: 20px;
    text-align: center;
}
.layout .row .poll .sliderfooter .slider .hd li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 8px;
    height: 8px;
    line-height: 99px;
    overflow: hidden;
    background: url(../img/slider-btn.png) 0 -10px no-repeat;
    margin: 0 5px;
    cursor: pointer;
    filter: alpha(opacity=60);
    opacity: 0.6;
}
.layout .row .poll .sliderfooter .slider .hd li.on {
    background-position: 0 0;
    filter: alpha(opacity=100);
    opacity: 1;
}
.layout .row .poll .sliderfooter .slider .pnBtn {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 285px;
    cursor: pointer;
}
.layout .row .poll .sliderfooter .slider .prev {
    left: -103%}
.layout .row .poll .sliderfooter .slider .next {
    left: 84%}
.layout .row .poll .sliderfooter .slider .pnBtn .blackBg {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 285px;
    background: #c1c9cc;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.layout .row .poll .sliderfooter .slider .pnBtn .arrow {
    display: none;
    position: absolute;
    top: -20px;
    z-index: 1;
    width: 60px;
    height: 335px;
}
.layout .row .poll .sliderfooter .slider .pnBtn .arrow:hover {
    filter: alpha(opacity=60);
    opacity: 0.6;
}
.layout .row .poll .sliderfooter .slider .prev .arrow {
    right: 0;
    background: url(../img/slider-arrow.png) -123px 0 no-repeat;
}
.layout .row .poll .sliderfooter .slider .next .arrow {
    left: 10px;
    background: url(../img/slider-arrow.png) 0 0 no-repeat;
}
.layout .row .likepagemobile {
    background-color: #E6E6E6;
    position: relative;
    float: left;
    display: block;
}
.layout .row .likepagemobile .titlepage {
    background-color: #bfc0c2;
    color: #fff;
    font-size: 22pt;
    height: 45px;
    text-align: center;
    width: 100%}
.layout .row .likepagemobile .contentlikepage {
    float: left;
    position: relative;
}
.layout .row .likepagemobile .contentlikepage .like {
    float: left;
    height: 200px;
    position: relative;
}
.layout .row .likepagemobile .contentlikepage .like .Somepeople_gif {
    background: url('../img/like.png');
    height: 150px;
    margin-top: 18px;
    position: relative;
    width: 150px;
    z-index: 5;
    cursor: pointer;
    float: left;
    left: 4%;}
.layout .row .likepagemobile .contentlikepage .like label {
    border: medium none;
    border-radius: 20px;
    height: 30px;
    left: 250px;
    position: absolute;
    top: 50px;
    width: 150px;
    z-index: 1;
    background-color:white;
}
.layout .row .likepagemobile .contentlikepage .like input {
    border: medium none;
    border-radius: 45px;
    height: 75px;
    float: left;
    position: relative;
    top: -105px;
    left: 115px;
    width: 225px;
    z-index: 1;
    font-size: 35px;
    padding-right: 23%;
    text-align: right;}
.layout .row .likepagemobile .contentlikepage .like .people {
    background: url(../img/people_icon.png) no-repeat;
    height: 45px;
    position: relative;
    top: -95px;
    width: 50px;
    z-index: 6;
    float: left;
    left: 12%;}
.layout .row .likepagemobile .contentlikepage .nolike {
    float: left;
    height: 200px;
    position: relative;
}
.layout .row .likepagemobile .contentlikepage .nolike .Somepeople_gif {
    background: url('../img/dislike.png');
    height: 150px;
    margin-top: 18px;
    position: relative;
    width: 150px;
    z-index: 5;
    cursor: pointer;
    float: left;
    left: 4%;
}
.layout .row .likepagemobile .contentlikepage .nolike label {
    border: medium none;
    border-radius: 20px;
    height: 30px;
    left: 50px;
    position: absolute;
    top: 50px;
    width: 150px;
    z-index: 1;
    background-color:white;
}
.layout .row .likepagemobile .contentlikepage .nolike input {
    border: medium none;
    border-radius: 45px;
    height: 75px;
    float: left;
    position: relative;
    top: -105px;
    left: 115px;
    width: 225px;
    z-index: 1;
    font-size: 35px;
    padding-right: 23%;
    text-align: right;}
.layout .row .likepagemobile .contentlikepage .nolike .people {
    background: url(../img/people_red.png) no-repeat;
    height: 45px;
    position: relative;
    top: -95px;
    width: 50px;
    z-index: 6;
    float: left;
    left: 12%;}
.layout .row .sharenowmobile {
    position: relative;
}
.layout .row .sharenowmobile .groupshare {
    background-color: #fff;
    border-radius: 5px;
    height: 105px;
    margin-top: 15px;
    float: left;
}
.layout .row .sharenowmobile .groupshare p {
    float: left;
    font-size: 29pt;
    padding: 35px 0 0 15px;
    position: relative;
    width: 29%}
.layout .row .sharenowmobile .groupshare ul {
    padding: 0px;
    float: left;
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-left: 22px;
}
.layout .row .sharenowmobile .groupshare ul li {
    list-style: none;
    position: relative;
    float: left;
    margin-right: 15px;
}
.layout .row .sharenowmobile .groupshare ul li .social_btn {
    height: 80px;
    top: 10px;
    width: 80px;
    cursor: pointer;
}

.layout .row .sharenowmobile .appstore {
    position: relative;
    float: right;
    height: 137px;
    padding-top: 5px;
    cursor: pointer;
}
.layout .row .sharenowmobile .appstore a img{
    width: 100%;
    padding-left:20px;
    padding-top:15px;
}
.layout .row .pagecommentmobile {
    position: relative;
}
.layout .row .pagecommentmobile p {
    font-size: 24pt;
}
.layout .row .pagecommentmobile .itemcomment {
    position: relative;
    background-color: #E6E6E6;
    float: left;
    width: 100%}
.layout .row .pagecommentmobile .itemcomment ul li {
    list-style: none;
}
.layout .row .pagecommentmobile .itemcomment ul li .commentImage {
    padding: 3px;
    float: left;
    margin: 25px 0px 10px 10px;
    position: relative;
    overflow: hidden;
}
.layout .row .pagecommentmobile .itemcomment ul li img {
    padding: 0px;
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%}
.layout .row .pagecommentmobile .itemcomment ul li .position {
    position: relative;
    width: 31px;
    height: 24px;
    background-position: -118px -579px;
    z-index: 9;
    left: 0px;
    top: 38px;
    float: left;
}
.layout .row .pagecommentmobile .itemcomment ul li .triangle-obtuse.left {
    background: #fff none repeat scroll 0 0;
    float: left;
    margin-right: 15px;
    padding: 10px;
    margin: 20px 0 20px 0px;
    width: 100%;
    position: relative;
    left: -20px;
    padding-left: 0px;
    font-size: 20px;
}
.layout .row .pagecommentmobile .itemcomment ul li .commentRound {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.layout .row .pollmobile {
    overflow: hidden;
    margin-top: 20px;
}
.layout .row .pollmobile p {
    font-size: 15pt;
}
.layout .row .pollmobile .sliderfooter {
    position: relative;
    background-color: #c1c9cc;
    border-radius: 5px;
}
.layout .row .pollmobile .sliderfooter .slider {
    width: 90%;
    min-width: 604px;
    position: relative;
    overflow: hidden !important;
    text-align: center;
    margin-left: 46px;
}
.layout .row .pollmobile .sliderfooter .slidermb {
    height: 430px;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd {
    position: absolute;
    left: 50%;
    margin-left: -383px;
    overflow: hidden;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li {
    width: 795px;
    overflow: hidden;
    list-style: none;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp {
    float: left;
    position: relative;
    margin-left: 40px;
    margin-top: 30px;
    height: 360px;
    width: 80%;
    background-color: white;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .hand {
    background-image: url("../img/hand.slider.mobile.png");
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 34%;
    margin-top: 0px;
    position: absolute;
    width: 215px;
    z-index: 8;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .logobutterflyhub {
    top: 185px;
    height: 36px;
    position: absolute;
    right: 12px;
    width: 35px;
    z-index: 8;
    background-image: url("../img/logo.slider.png");
    background-repeat: no-repeat;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .effect {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 225px;
    background-image: url(../img/bgradiang.slider.png);
    background-repeat: repeat-x;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent1, .layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent3 {
    position: relative;
    float: left;
    top: 50px;
    overflow: hidden;
    height: 250px;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent1 img, .layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent3 img {
    margin-top: -10px;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .footertext{
    margin-top:50px;
    background:#ea5c3b;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .footertext p{
    margin: 15px 0px;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent1 .nameleft {
    position: absolute;
    z-index: 7;
    width: 90px;
    top: 7px;
    left: 0px;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent1 .nameleft .bgnotriangle {
    background-color: #e6e6e6;
    color: #000;
    float: left;
    font-size: 13pt;
    height: 30px;
    padding-left: 8px;
    padding-top: 2px;
    position: relative;
    width: 70px;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent1 .nameleft .bgtriangle {
    height: 0px;
    width: 0px;
    border-left: 15px solid #E6E6E6;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    float: left;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent2 {
    width: 95px;
    height: 435px;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent3 {
    float: right;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent3 .nameright {
    position: absolute;
    z-index: 7;
    top: 7px;
    right: 0px;
    width: 85px;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent3 .nameright .bgnotriangle {
    background-color: #e6e6e6;
    color: #000;
    float: left;
    font-size: 13pt;
    height: 30px;
    padding-left: 8px;
    padding-top: 2px;
    position: relative;
    width: 70px;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent3 .nameright .bgtriangle {
    float: left;
    height: 0px;
    width: 0px;
    border-right: 15px solid #E6E6E6;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd {
    width: 760px;
    position: absolute;
    left: 48.2%;
    margin-left: -380px;
}
.layout .row .pollmobile .sliderfooter .slidermb .bd li {
    width: 770px;
    overflow: hidden;
    list-style: none;
}
.layout .row .pollmobile .sliderfooter .slidermb .tempWrap {
    overflow: visible !important;
    background-color: #c1c9cc;
}
.layout .row .pollmobile .sliderfooter .slidermb .tempWrap ul {
    margin-left: -725px !important;
}
.layout .row .pollmobile .sliderfooter .slidermb .hd {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    height: 8px;
    bottom: 20px;
    text-align: center;
}
.layout .row .pollmobile .sliderfooter .slidermb .hd li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 8px;
    height: 8px;
    line-height: 99px;
    overflow: hidden;
    background: url(../img/slider-btn.png) 0 -10px no-repeat;
    margin: 0 5px;
    cursor: pointer;
    filter: alpha(opacity=60);
    opacity: 0.6;
}
.layout .row .pollmobile .sliderfooter .slidermb .hd li.on {
    background-position: 0 0;
    filter: alpha(opacity=100);
    opacity: 1;
}
.layout .row .pollmobile .sliderfooter .slidermb .pnBtn {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 285px;
    cursor: pointer;
}
.layout .row .pollmobile .sliderfooter .slidermb .prev {
    left: -92%}
.layout .row .pollmobile .sliderfooter .slidermb .next {
    left: 92%}
.layout .row .pollmobile .sliderfooter .slidermb .pnBtn .blackBg {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 285px;
    background: #c1c9cc;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.layout .row .pollmobile .sliderfooter .slidermb .pnBtn .arrow {
    display: none;
    position: absolute;
    top: 35px;
    z-index: 1;
    width: 60px;
    height: 335px;
}
.layout .row .pollmobile .sliderfooter .slidermb .pnBtn .arrow:hover {
    filter: alpha(opacity=60);
    opacity: 0.6;
}
.layout .row .pollmobile .sliderfooter .slidermb .prev .arrow {
    right: -75px;
    background: url(../img/slider-arrow.png) -123px 0 no-repeat;
}
.layout .row .pollmobile .sliderfooter .slidermb .next .arrow {
    left: -65px;
    background: url(../img/slider-arrow.png) 0 0 no-repeat;
}
.layout .row .footertext p {
    margin: 30px 0px;
}
.layout .row .footertext p a {
    text-decoration: none;
}
.unclickable .unclickableMask {
    background-image: url("../img/FB-share-layout.png");
    background-image: no-repeat;
}
.relative_title{
    padding: 20px 20px 20px 40px;
}

.loadgif {
   position: fixed;
   top: 50%;
   left: 45%;
   display:none;
   z-index:999;
}

/************* RESPONSIVE ***********/
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .layout .row .contentlp .hand .animation{
        float: left;
        height: 220px;
        left: 78px;
        overflow: hidden;
        position: relative;
        top: 60px;
        width: 220px;
    }
    .layout .row .contentlp .hand .bg_text_hand{
        background-color: #00344a;
        color: #29abe2;
        float: left;
        font-size: 17pt;
        height: 77px;
        left: 78px;
        padding: 23px;
        position: relative;
        text-align: center;
        top: 60px;
        width: 220px;
    }
    .layout .row .contentlp .hand{
        background-image: url("../img/hand.png");
        background-repeat: no-repeat;
        height: 100%;
        margin-left: 30%;
        margin-top: 12px;
        position: absolute;
        width: 45%;
        z-index: 8;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .layout .row .contentlp .hand .animation{
        float: left;
        height: 220px;
        left: 78px;
        overflow: hidden;
        position: relative;
        top: 60px;
        width: 220px;
    }
    .layout .row .contentlp .hand .bg_text_hand{
        background-color: #00344a;
        color: #29abe2;
        float: left;
        font-size: 17pt;
        height: 77px;
        left: 78px;
        padding: 23px;
        position: relative;
        text-align: center;
        top: 60px;
        width: 220px;
    }
    .layout .row .contentlp .hand{
        background-image: url("../img/hand.png");
        background-repeat: no-repeat;
        height: 100%;
        margin-left: 23%;
        margin-top: 12px;
        position: absolute;
        width: 55%;
        z-index: 8;
    }
    .layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent1, .layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent3 {
        position: relative;
        top: 50px;
        overflow: hidden;
        height: 250px;
    }
    .footertext{
        margin-top: 50px;
        background-color: #EA5C3B;
        height: 60px;
        width: 100%;
        color: white;
    }
    .layout .row .footertext p {
        margin: 15px 0px;
    }
    .layout .row .likepagemobile .contentlikepage .like label, .layout .row .likepagemobile .contentlikepage .nolike label{
        border: medium none;
        border-radius: 20px;
        height: 60px;
        position: absolute;
        top: 70px;
        width: 160px;
        z-index: 1;
        padding-left: 45px;
        background-color: white;
        font-size: 40px;
        left: 140px;
    }
    .layout .row .likepagemobile .contentlikepage .like .people{
        background: url(../img/people_icon.png) no-repeat;
        height: 45px;
        position: relative;
        top: 75px;
        width: 50px;
        z-index: 6;
        float: left;
        left: 85px;
    }
    .layout .row .likepagemobile .contentlikepage .nolike .people{
        background: url(../img/people_red.png) no-repeat;
        height: 45px;
        position: relative;
        top: 75px;
        width: 50px;
        z-index: 6;
        float: left;
        left: 85px;
    }
    .owl-theme .bannercontent1 img, .owl-theme .bannercontent3 img
    {
        width: 100%;
        height: 200px;
        margin-top: 30px;
    }
    .owl-theme .item .hand {
        background-image: url(../img/hand.slider.png);
        background-repeat: no-repeat;
        height: 220px;
        margin-left: 35%;
        margin-top: 12px;
        position: absolute;
        z-index: 8;
        width: 150px;
    }
    .owl-theme .bannercontent1 img, .owl-theme .bannercontent3 img
    {
        width: 100%;
        height: 200px;
        margin-top: 30px;
    }
    .owl-theme .owl-controls .owl-buttons div {
      position: absolute;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 10px;
        top: 65px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev img{
        width:50px;
    }
     
    .owl-theme .owl-controls .owl-buttons .owl-next{
      right: 10px;
      top: 65px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next img{
        width:50px;
    }
    .footertext {
        background-color: #EA5C3B;
        width: 100%;
        color: white;
        margin-top:0px;
        height:30px;
        padding:5px;
    }
    .pollmobile{
        margin-top:40px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .layout .row .contentlp .hand .animation{
        float: left;
        height: 220px;
        left: 78px;
        overflow: hidden;
        position: relative;
        top: 60px;
        width: 220px;
    }
    .layout .row .contentlp .hand .bg_text_hand{
        background-color: #00344a;
        color: #29abe2;
        float: left;
        font-size: 17pt;
        height: 77px;
        left: 78px;
        padding: 23px;
        position: relative;
        text-align: center;
        top: 60px;
        width: 220px;
    }
    .layout .row .contentlp .hand{
        background-image: url("../img/hand.png");
        background-repeat: no-repeat;
        height: 100%;
        margin-left: 23%;
        margin-top: 12px;
        position: absolute;
        width: 55%;
        z-index: 8;
    }
    .layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent1, .layout .row .pollmobile .sliderfooter .slidermb .bd li .contentlp .bannercontent3 {
        position: relative;
        top: 50px;
        overflow: hidden;
        height: 250px;
    }
    .footertext{
        margin-top: 50px;
        background-color: #EA5C3B;
        height: 60px;
        width: 100%;
        color: white;
    }
    .layout .row .footertext p {
        margin: 15px 0px;
    }
    .layout .row .likepagemobile .contentlikepage .like label, .layout .row .likepagemobile .contentlikepage .nolike label{
        border: medium none;
        border-radius: 20px;
        height: 60px;
        position: absolute;
        top: 70px;
        width: 160px;
        z-index: 1;
        padding-left: 45px;
        background-color: white;
        font-size: 40px;
        left: 140px;
    }
    .layout .row .likepagemobile .contentlikepage .like .people{
        background: url(../img/people_icon.png) no-repeat;
        height: 45px;
        position: relative;
        top: 75px;
        width: 50px;
        z-index: 6;
        float: left;
        left: 85px;
    }
    .layout .row .likepagemobile .contentlikepage .nolike .people{
        background: url(../img/people_red.png) no-repeat;
        height: 45px;
        position: relative;
        top: 75px;
        width: 50px;
        z-index: 6;
        float: left;
        left: 85px;
    }
    .owl-theme .bannercontent1 img, .owl-theme .bannercontent3 img
    {
        width: 100%;
        height: 200px;
        margin-top: 30px;
    }
    .owl-theme .item .hand {
        background-image: url(../img/hand.slider.png);
        background-repeat: no-repeat;
        height: 220px;
        margin-left: 35%;
        margin-top: 12px;
        position: absolute;
        z-index: 8;
        width: 150px;
    }
    .owl-theme .bannercontent1 img, .owl-theme .bannercontent3 img
    {
        width: 100%;
        height: 200px;
        margin-top: 30px;
    }
    .owl-theme .owl-controls .owl-buttons div {
      position: absolute;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 10px;
        top: 65px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev img{
        width:50px;
    }
     
    .owl-theme .owl-controls .owl-buttons .owl-next{
      right: 10px;
      top: 65px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next img{
        width:50px;
    }
    .footertext {
        background-color: #EA5C3B;
        width: 100%;
        color: white;
        margin-top:0px;
        height:30px;
        padding:5px;
    }
    .pollmobile{
        margin-top:40px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .layout .row .contentlp .hand .animation{
            float: left;
            height: 220px;
            left: 78px;
            overflow: hidden;
            position: relative;
            top: 60px;
            width: 220px;
    }
    .layout .row .contentlp .hand .bg_text_hand{
        background-color: #00344a;
        color: #29abe2;
        float: left;
        font-size: 17pt;
        height: 77px;
        left: 78px;
        padding: 23px;
        position: relative;
        text-align: center;
        top: 60px;
        width: 220px;
    }
    .layout .row .contentlp .hand{
        background-image: url("../img/hand.png");
        background-repeat: no-repeat;
        height: 100%;
        margin-left: 30%;
        margin-top: 12px;
        position: absolute;
        width: 45%;
        z-index: 8;
    }
    .owl-theme .item .hand {
        background-image: url(../img/hand.slider.png);
        background-repeat: no-repeat;
        height: 220px;
        margin-left: 31%;
        margin-top: 12px;
        position: absolute;
        z-index: 8;
        width: 150px;
    }
    .owl-theme .bannercontent1 img, .owl-theme .bannercontent3 img
    {
        width: 100%;
        height: 200px;
        margin-top: 30px;
    }
    .owl-theme .owl-controls .owl-buttons div {
      position: absolute;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: -5px;
        top: 65px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev img{
        width:50px;
    }
     
    .owl-theme .owl-controls .owl-buttons .owl-next{
      right: -5px;
      top: 65px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next img{
        width:50px;
    }
    .footertext {
        background-color: #EA5C3B;
        width: 100%;
        color: white;
        margin-top:0px;
        height:30px;
        padding:5px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .layout .row .contentlp .hand .animation {
        float: left;
        height: 218px;
        left: -28.7%;
        overflow: hidden;
        position: relative;
        top: 150px;
        width: 230px;
    }
    .layout .row .likepage .contentlikepage .like .Somepeople {
        background-position: -112px -15px;
        height: 94px;
        right: 30%;
        margin-top: 18px;
        position: relative;
        width: 94px;
        z-index: 9;
        cursor: pointer;
        float: right;
    }
    .layout .row .contentlp .hand {
        background-image: url(../img/hand.png);
        background-repeat: no-repeat;
        height: 100%;
        margin-left: 30%;
        margin-top: 14px;
        position: absolute;
        width: 45%;
        z-index: 8;
    }
    .layout .row .likepage .contentlikepage .nolike label {
        color: #000000;
        border: medium none;
        border-radius: 15px;
        height: 30px;
        left: 0%;
        position: relative;
        top: 50px;
        float: left;
        width: 118px;
        z-index: 1;
        padding-left: 60px;
        font-size: 19px;
        background-color: #ffffff;
    }
    .layout .row .contentlp .hand .bg_text_hand {
        background-color: #00344a;
        color: #29abe2;
        float: left;
        font-size: 17pt;
        height: 77px;
        left: 78px;
        padding: 23px;
        position: relative;
        text-align: center;
        top: 150px;
        width: 220px;
    }
    .owl-theme .item .hand {
        background-image: url(../img/hand.slider.png);
        background-repeat: no-repeat;
        height: 220px;
        margin-left: 34%;
        margin-top: 12px;
        position: absolute;
        z-index: 8;
        width: 150px;
    }
    .owl-theme .bannercontent1 img, .owl-theme .bannercontent3 img
    {
        width: 100%;
        height: 200px;
        margin-top: 30px;
    }
    .owl-theme .owl-controls .owl-buttons div {
      position: absolute;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: -5px;
        top: 65px;
    }
     
    .owl-theme .owl-controls .owl-buttons .owl-next{
      right: -5px;
      top: 65px;
    }
    .footertext {
        background-color: #EA5C3B;
        width: 100%;
        color: white;
        margin-top:0px;
        height:30px;
        padding:5px;
    }
}